<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="ES">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="description" content="La Aplicación Web de Intercambio de Documentos es una plataforma en línea diseñada para facilitar la interacción y el intercambio de material documental entre usuarios">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="nav1"></div>
        <image src="logouteq.png" />
        <img src="src" alt="alt"/>
        <img src="${pageContext.request.contextPath}/templates/logouteq.png" alt="Logo UTEQ">
        <img src="logouteq.png" width="1000"
             th:src="@{logouteq.png}"/>
    </body>
    <style type="text/css">
        #nav1{
            background: #000000;
            height: 40px;
        }
        *{
            margin:0;
            padding:0;
        }
        body {
            margin: 0;
            padding: 0;
            background: url(fondo.jpg);
            background-size: cover;
            width: 100%;
            height: 100%;
        }
    </style>
</html>
