<body>
    <form  th:object="${objusuario}" method="POST">
        <div class="content">
            <img class="ptp"  src="https://pbs.twimg.com/profile_images/1601468664053698562/NuzsYaUh_400x400.jpg"/>
            <label><span th:text="${objusuario.nombreusuario}"></span></label>
            <button onclick="cargarContenido('/docsfriends/editarperfil')" style="display: inline-block; margin-left: 40px" type="button" class="btn btn-outline-warning">Editar</button>
            <br/>
            
            <span class="subt" ><p th:text="${objusuario.descripcion}"></p></span>
            <div class="contendorcard">
                <button  type="button" onclick="cargarContenido('/docsfriends/creardoc')" class="btn btn-outline-success">SUBIR LIBRO &#10133;</button>

            </div>

            <div class="contendorcard" th:each="docu : ${documentos}">
                <div class="card" style="width: 18rem;" >
                    <h5 class="card-title text-center" th:text="${docu.titulo}" style="align-items: center;"></h5>

                    <img src="..." class="card-img-top" alt="..."></img>
                    <div class="card-body d-flex flex-column">

                        <p class="card-text" th:text="${docu.descripcion}"></p>
                        <div class="mt-auto">
                            <button type="button" class="btn btn-success" style="display: inline">Ver</button>
                            <div class="dropdown " style="display: inline">

                                <button class="btn btn-secondary dropdown-toggle custom-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    &#128190
                                </button>
                                <ul class="dropdown-menu">
                                    <li><button style="width: 100%" type="button" class="btn btn-outline-warning">Editar</button></li>
                                    <li><a th:href="@{/docsfriends/deletedoc?docID={id} (id=${docu.idDocumento})}"><button style="width: 100%" type="button" class="btn btn-outline-danger">Eliminar &#128465;</button></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>




        </div>
    </form>

</body>
<style>

    .custom-dropdown {
        font-size: 14px;
        padding: 5px 10px;
        min-width: 70px;
    }
    .contendorcard, card-title, custom-dropdown,verbutton{
        display: inline-block;

    }


    .card{
        margin-left: 5%;
        align-items: center;
        max-width: 10rem;
        width: 10rem;
        height: 15rem;
    }
    .card-title{
        font-size: 15px;
        align-items: center;
    }
    .card-text{
        font-size: 10px;
        max-height: 5.5em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .subt{
        color:white;
        font-size: 20px;
        margin-left: 20px;
    }
    .content{
        width: 75%;
        margin-left: 25%;
    }
    .ptp{
        display: inline;
        width: 15%;
        border-radius: 50%;
        margin: 15px;
        border: 2px solid;
    }
    span{
        color:white;
        font-size: 30px;
        margin-left: 20px;
    }
</style>

</html>
